body	{
	background-color: black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;	
	vertical-align;
	align-items: center;
}

/* zero-out CSS document */

.surface	{

	border: 2px solid orange;
	height: 80%;
	min-height: 300px;
	width: 80%;
	min-width: 600px;
}

.pane		{
	border: 2px solid blue;
}

.divider	{
	border: 2px solid red;
}