body	{
	background-color: black;

}

/* zero-out CSS document */

.surface	{

	background-color: green;
	margin: auto auto auto auto;
	height: 80%;
	width: 80%;
}

.pane		{
	border: 2px solid blue;
}

.versus	{
	border: 2px solid red;
}